@model örnekproje.Models.Product




<div class="container mt-4">
    <h3 class="mb-4"> Ürün Sil</h3>
    <div class="card shadow-sm">
        <div class="card-body">
            <form asp-action="Delete" asp-controller="Admin" method="post">
                <input type="hidden" asp-for="ProductID" />
                <div class="form-group">
                    <label>Ürün Adı</label>
                    <input asp-for="ProductName" type="text" class="form-control required" placeholder="Ürün adını giriniz">
                </div>

                <div class="form-group">
                    <label>Fiyat</label>
                    <input asp-for="Price" type="number" class="form-control" placeholder="Fiyat">
                </div>

                <div class="form-group">
                    <label>Açıklama</label>
                    <textarea asp-for="Description" class="form-control" rows="3" placeholder="Açıklama"></textarea>
                </div>

                <div class="form-group">
                    <label asp-for="CategoryNo" class="control-label">Kategori</label>
                    <select asp-for="CategoryNo" class="form-control" asp-items="ViewBag.Categories">
                        <option value="">-- Kategori Seçin --</option>
                    </select>
                    <span asp-validation-for="CategoryNo" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Sil</button>
                <a href="@Url.Action("AdminPage", "Admin")" class="btn btn-secondary">İptal</a>
            </form>
        </div>
    </div>
</div>
