
@model IEnumerable<örnekproje.Models.Category>


<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Kategori Yönetimi</h1>
        <div class="row">

        </div>
        <a asp-action="Create" asp-controller="Category" class="btn btn-success">
            <i class="fas fa-plus fa-sm text-white-50"></i> Yeni Kategori Ekle
        </a>
    </div>

    <!-- Ürünler Tablosu -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Kategori Listesi</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="productsTable" width="100%" cellspacing="0">
                    <thead



                                        <tr>
                                            <th>ID</th>
                                            <th>Kategori Adı</th>


                                        </tr>
                                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>@item.CategoryNo</th>
                                <th>@item.CategoryName</th>
                                
                                <td>
                                    <a asp-action="Edit" asp-controller="Category" asp-route-id="@item.CategoryNo" class="btn btn-sm btn-warning">
                                        Düzenle
                                    </a>
                                    <a asp-action="Delete" asp-controller="Category" asp-route-id="@item.CategoryNo" class="btn btn-sm btn-danger">
                                        Sil
                                    </a>

                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
